@charset "UTF-8";
:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #FFFFFF;
  --primary-bcg-color: #2F303A;
  --accent-color: #2196F3;
  --secondary-accent-color: #188CE8;
  --secondary-bcg-color: #F5F4FA;
  --primary-border-color: #EEEEEE;
  --primary-icon-color: #AFB1B8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.adresses {
  display: flex;
  flex-direction: column;
  font-style: normal;
  margin-top: 20px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 94px;
}

.container {
  width: 450px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header__logo_theme_light {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-img {
  color: var(--accent-color);
  text-decoration: none;
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: none;
}

.button:hover, .button:focus {
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--secondary-accent-color);
}

.social-list {
  justify-content: center;
  display: flex;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-icon {
  fill: var(--primary-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--primary-white-color);
}

.hero-title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 479px) {
  .hero-title {
    margin: 0 auto;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

@media screen and (min-width: 480px) {
  .hero-title {
    margin: 0 auto;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    width: 396px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    font-size: 44px;
    margin-bottom: 30px;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 14px;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.page {
  background-color: var(--primary-white-color);
  color: var(--secondary-text-color);
  font-family: var(--primary-font-family);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.hero {
  text-align: center;
  background-color: var(--primary-bcg-color);
  padding: 118px 0;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/image hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #C4C4C4;
}

@media screen and (max-width: 479px) {
  .hero {
    text-align: center;
    background-color: var(--primary-bcg-color);
    padding: 118px 0;
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/Header-img-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #C4C4C4;
  }
}

@media screen and (min-width: 480px) {
  .hero {
    text-align: center;
    background-color: var(--primary-bcg-color);
    padding: 118px 0;
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/Header-img-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #C4C4C4;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    text-align: center;
    background-color: var(--primary-bcg-color);
    padding: 118px 0;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/Header-img-tablet@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #C4C4C4;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    text-align: center;
    background-color: var(--primary-bcg-color);
    padding: 200px 0;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/deckstop/Img-deckstop-hero@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #C4C4C4;
  }
}

.service-title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .service-title {
    margin-bottom: 50px;
  }
}

.team-title {
  color: var(--primary-text-color);
  background-color: var(--secondary-bcg-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 780px) {
  .team-title {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: white;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #0000001A;
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: var(--accent-color);
}

.form-head {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
}

.contact-form-input:hover, .contact-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-input-wrapper {
  margin-top: 4px;
  position: relative;
}

.contact-form-checkbox-wrapper {
  margin-bottom: 30px;
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:hover + .contact-form-icon,
.contact-form-input:focus + .contact-form-icon {
  fill: var(--accent-color);
}

.contacts-name-modal {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.contact-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:hover, .contact-form-message:focus {
  border-color: var(--accent-color);
}

.contact-form-message::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-label {
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.contact-form-checkbox-label::before {
  border: 2px solid #212121;
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 8px;
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-image: url("../images/icon-check.svg");
  background-color: var(--accent-color);
}

.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  border: 2px solid var(--accent-color);
}

.akt {
  color: var(--accent-color);
}

.contact-form-submit-btn {
  display: block;
  margin: 0 auto;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: none;
}

.contact-form-submit-btn:hover, .contact-form-submit-btn:focus {
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--secondary-accent-color);
}

@media screen and (max-width: 767px) {
  .button-list {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 34px;
  }
  .btn:nth-child(-n+3) {
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 480px) {
  .galerry-list {
    margin-left: -30px;
    margin-top: -30px;
    display: flex;
    flex-wrap: wrap;
  }
  .gallery {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .galerry-list {
    margin-left: -30px;
    margin-top: -30px;
    display: flex;
    flex-wrap: wrap;
  }
  .gallery {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
  .button-list {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .galerry-list {
    margin-left: -30px;
    margin-top: -30px;
    display: flex;
    flex-wrap: wrap;
  }
  .gallery {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);
  }
}

.buttons {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:hover, .buttons:focus {
  background-color: var(--secondary-accent-color);
  color: var(--primary-white-color);
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-elements {
  display: block;
}

.flex-elements:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.name-pic {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.names-pic {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-bottom: 1px solid var(--primary-border-color);
  border-left: 1px solid var(--primary-border-color);
  border-right: 1px solid var(--primary-border-color);
}

.overlay {
  position: absolute;
  padding: 63px 24px;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  height: 294px;
  width: 100%;
  overflow: hidden;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transform: translateY(100%);
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links:hover .overlay,
.links:focus .overlay {
  transform: translateY(0%);
}

.links-img {
  position: relative;
  overflow: hidden;
}

.kind-bussines {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.links {
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  border: none;
}

.btn:not(:last-child) {
  margin-right: 8px;
}

.main__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: relative;
}

@media screen and (max-width: 1199px) {
  .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .link .current {
    color: var(--accent-color);
  }
  .site-nav__link {
    position: relative;
  }
  .current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    position: absolute;
  }
  .icon-mail {
    margin-right: 8px;
    fill: currentColor;
  }
  .header__mail-number:hover .icon-mail,
  .header__mail-number:focus .icon-mail {
    fill: var(--accent-color);
  }
  .header {
    border-bottom: 1px solid #ECECEC;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }
  .site-nav .link .current {
    color: var(--accent-color);
  }
  .site-nav {
    display: flex;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .navigation {
    margin-left: 88px;
  }
  .header__mail-number {
    display: flex;
    color: var(--secondary-text-color);
    font-weight: 500;
    text-decoration: none;
    padding-top: 21px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__mail-number:hover, .header__mail-number:focus {
    color: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .phone-mail {
    display: block;
  }
  .phone-mail .phone-mail__item {
    margin-left: 84px;
  }
  .mail-item {
    color: var(--secondary-text-color);
    padding-top: 10px;
    margin-bottom: 21px;
  }
  .mail-item:hover, .mail-item:focus {
    color: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__item {
    display: flex;
    color: var(--secondary-text-color);
    align-items: center;
  }
  .site-nav .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .current::after {
    display: none;
  }
  .site-nav {
    display: none;
  }
  .phone-mail {
    display: none;
  }
  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
  }
  .mobile-menu-btn:hover,
  .mobile-menu-btn:focus {
    fill: var(--accent-color);
  }
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 250ms linear, visibility 250ms linear;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__close-btn:hover,
  .mobile-menu__close-btn:focus {
    fill: var(--accent-color);
  }
  .mobile-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    position: relative;
    padding-top: 48px;
    padding-left: 40px;
  }
  .mobile-tel {
    padding-bottom: 32px;
  }
  .mobile-mail-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-nav {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    display: block;
    align-items: center;
    color: var(--primary-text-color);
  }
  .mobile-menu__close-icon:hover {
    fill: var(--accent-color);
  }
  .mobile-tel-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mobile-nav-icon {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .current {
    color: var(--accent-color);
  }
  .mobile-nav-item:not(:last-child) {
    padding-bottom: 32px;
  }
  .mobile-contact-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    margin-bottom: 64px;
    color: #757575;
  }
  .social-list-mobile {
    display: flex;
  }
  .mobile-social-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-social:not(:last-child) {
    margin-right: 0px;
  }
  .mobile-social:not(:last-child)::after {
    content: " ";
    width: 22px;
    height: 0px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    padding-right: 10px;
  }
  .social-list-mobile {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .link .current {
    color: var(--accent-color);
  }
  .site-nav__link {
    position: relative;
  }
  .current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    position: absolute;
  }
  .icon-mail {
    margin-right: 10px;
    fill: currentColor;
  }
  .header__mail-number:hover .icon-mail,
  .header__mail-number:focus .icon-mail {
    fill: var(--accent-color);
  }
  .header {
    border-bottom: 1px solid #ECECEC;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }
  .site-nav .link .current {
    color: var(--accent-color);
  }
  .site-nav {
    display: flex;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .navigation {
    margin-left: 93px;
  }
  .header__mail-number {
    display: flex;
    color: var(--secondary-text-color);
    font-weight: 500;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__mail-number:hover, .header__mail-number:focus {
    color: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .phone-mail {
    display: flex;
    margin-left: auto;
  }
  .phone-mail .phone-mail__item {
    margin-left: 50px;
  }
  .site-nav__item {
    display: flex;
    color: var(--secondary-text-color);
    align-items: center;
  }
  .site-nav .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .contact-form-input-email {
    width: 450px;
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    background-color: var(--primary-bcg-color);
    padding: 60px 0;
  }
  .footer__logo_theme_dark {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .street-adress {
    font-style: normal;
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
  }
  .come-in {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
  }
  .foot-container {
    display: block;
    align-items: baseline;
  }
  .logo-adress-div {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
  }
  .come-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;
  }
  .come-in {
    margin-bottom: 20px;
  }
  .social-list-item-footer {
    margin-right: 10px;
  }
  .social-list-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #ffffff10;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-link-footer:hover, .social-list-link-footer:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--accent-color);
  }
  .social-list-icon-footer {
    fill: var(--primary-white-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-footer {
    text-align: center;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .contacts-footer:not(:last-child) {
    margin-bottom: 9px;
  }
  .accentlogo {
    color: var(--primary-white-color);
  }
  .subscribe {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;
  }
  .button-footer {
    display: inline-flex;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    border: none;
    align-items: center;
  }
  .button-footer:hover, .button-footer:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--secondary-accent-color);
  }
  .button-footer::after {
    background-image: url("../images/icon-send.svg");
    width: 24px;
    height: 24px;
    content: "";
    display: inline-block;
    margin-left: 10px;
  }
  .img-send {
    margin-left: 10px;
  }
  .contact-form-input-email {
    background-color: var(--primary-bcg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-bottom: 20px;
  }
  .contact-form-input-email {
    height: 50px;
    padding-left: 16px;
    margin-right: 12px;
    color: var(--primary-white-color);
  }
  .contact-form-input-email::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (min-width: 768px) {
  .footer {
    background-color: var(--primary-bcg-color);
    padding: 60px 0;
  }
  .email-form {
    display: grid;
  }
  .logo-adress-div {
    flex-direction: column;
  }
  .footer__logo_theme_dark {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .street-adress {
    font-style: normal;
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
  }
  .come-in {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
  }
  .foot-container {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
  .logo-adress-div {
    flex-direction: column;
    margin-bottom: 60px;
  }
  .come-links {
    display: flex;
    flex-direction: column;
  }
  .come-in {
    margin-bottom: 20px;
    text-align: center;
  }
  .logo-footer {
    text-align: center;
  }
  .social-list-item-footer {
    margin-right: 10px;
  }
  .social-list-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #ffffff10;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-link-footer:hover, .social-list-link-footer:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--accent-color);
  }
  .social-list-icon-footer {
    fill: var(--primary-white-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-footer {
    text-align: center;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .contacts-footer:not(:last-child) {
    margin-bottom: 9px;
  }
  .accentlogo {
    color: var(--primary-white-color);
  }
  .subscribe {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;
  }
  .button-footer {
    margin-left: 125px;
    width: 200px;
    display: inline-flex;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    border: none;
    align-items: center;
  }
  .button-footer:hover, .button-footer:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--secondary-accent-color);
  }
  .button-footer::after {
    background-image: url("../images/icon-send.svg");
    width: 24px;
    height: 24px;
    content: "";
    display: inline-block;
    margin-left: 10px;
  }
  .foot-container {
    flex-wrap: wrap;
    display: flex;
    align-items: baseline;
  }
  .img-send {
    margin-left: 10px;
  }
  .contact-form-input-email {
    margin-bottom: 20px;
    width: 450px;
    background-color: var(--primary-bcg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
  .contact-form-input-email {
    padding-left: 16px;
    margin-right: 12px;
    color: var(--primary-white-color);
  }
  .contact-form-input-email::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    background-color: var(--primary-bcg-color);
    padding: 60px 0;
  }
  .email-form {
    display: block;
    margin: 0;
  }
  .footer__logo_theme_dark {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .street-adress {
    font-style: normal;
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
  }
  .come-in {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
  }
  .foot-container {
    display: flex;
    align-items: baseline;
  }
  .logo-adress-div {
    flex-direction: column;
    margin-right: 70px;
    margin: 0;
  }
  .come-links {
    display: flex;
    flex-direction: column;
    margin-right: 93px;
    margin-left: 70px;
  }
  .come-in {
    margin-bottom: 20px;
    text-align: start;
  }
  .subscribe {
    text-align: start;
  }
  .social-list-item-footer {
    margin-right: 10px;
  }
  .adress-name:not(:last-child) {
    margin-bottom: 8px;
  }
}

.social-list-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff10;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-footer:hover, .social-list-link-footer:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
}

.social-list-icon-footer {
  fill: var(--primary-white-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-footer:not(:last-child) {
  margin-bottom: 9px;
}

.accentlogo {
  color: var(--primary-white-color);
}

.subscribe {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.button-footer {
  margin: 0;
  display: inline-flex;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: none;
  align-items: center;
}

.button-footer:hover, .button-footer:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--secondary-accent-color);
}

.button-footer::after {
  background-image: url("../images/icon-send.svg");
  width: 24px;
  height: 24px;
  content: "";
  display: inline-block;
  margin-left: 10px;
}

.img-send {
  margin-left: 10px;
}

.contact-form-input-email {
  background-color: var(--primary-bcg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.contact-form-input-email {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  color: var(--primary-white-color);
}

.contact-form-input-email::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) {
  .adress-name {
    text-align: center;
  }
  .adress-name:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .email-form {
    justify-items: center;
  }
  .adress-name {
    text-align: center;
  }
  .adress-name:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .adress-name {
    text-align: start;
  }
  .adress-name:not(:last-child) {
    margin-bottom: 9px;
  }
  .logo-footer {
    text-align: start;
  }
}

.quality-list {
  color: var(--secondary-text-color);
  display: block;
}

.thumb {
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.quality-list .text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.fon-text {
  color: #FFFFFF;
  padding: 27px 82px;
  text-align: center;
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.img-apps-list {
  position: relative;
}

.img-apps {
  position: relative;
}

.title {
  text-align: center;
}

.text {
  justify-content: center;
  text-align: center;
}

.list-image {
  display: flex;
  justify-content: space-between;
}

.images-comp:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 1199px) {
  .our-skills {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .title-text:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    text-align: start;
  }
  .text {
    text-align: start;
  }
  .quality-list {
    margin: -15px;
    color: var(--secondary-text-color);
    display: flex;
    flex-wrap: wrap;
  }
  .title-text {
    margin: 15px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .quality-list {
    margin: -15px;
    color: var(--secondary-text-color);
    display: flex;
    flex-wrap: nowrap;
  }
  .title-text {
    margin: 15px;
    width: 270px;
  }
}

.our-team {
  background-color: var(--secondary-bcg-color);
}

.teammate {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.teammates {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team {
  display: block;
  justify-content: center;
  align-items: center;
}

.team-img {
  margin-right: 30px;
}

.list-command {
  width: 100%;
  background-color: var(--primary-white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .list-command:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 479px) {
  .list-command {
    width: 450px;
    background-color: var(--primary-white-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .team {
    display: block;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 480px) {
  .list-command {
    width: 450px;
    background-color: var(--primary-white-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .team {
    display: block;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .team > .list-command {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .list-command {
    width: 354px;
    background-color: var(--primary-white-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .team {
    margin-left: -30px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .list-command {
    width: 270px;
    background-color: var(--primary-white-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .team {
    margin-top: -30px;
    margin-left: -30px;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ---Постоянные клиенты--- */
.actions {
  display: flex;
  list-style: none;
  justify-content: center;
}

.icons {
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons:hover, .icons:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
  border-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.icons-list {
  fill: currentColor;
}

.actions {
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  justify-content: center;
}

@media screen and (max-width: 479px) {
  .actions {
    margin-left: -30px;
    margin-top: -30px;
  }
  .icons-item {
    margin-left: 30px;
    margin-top: 30px;
    width: 210px;
  }
  .icons {
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  .actions {
    margin-left: -30px;
    margin-top: -30px;
  }
  .icons-item {
    margin-left: 30px;
    margin-top: 30px;
    width: 210px;
  }
  .icons {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .actions {
    margin-left: -30px;
    margin-top: -30px;
  }
  .icons-item {
    margin-left: 30px;
    margin-top: 30px;
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .icons-item {
    width: 170px;
  }
}
/*# sourceMappingURL=main.css.map */