// 0-1199px
@media screen and (max-width: 1199px) {
    .contact-form-input-email {
        width: 450px;
        height: 50px;
    }

    


}

// 0-767px
@media screen and (max-width: 767px) {

.footer {
    background-color: var(--primary-bcg-color);
    padding: 60px 0;


}

.footer__logo_theme_dark {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.street-adress {
    font-style: normal;
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
}

.come-in {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color)
}

.foot-container {
    display: block;
    align-items: baseline;

}

.logo-adress-div {
    flex-direction:column;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;

}


.come-links {
    display: flex;
    flex-direction:column;
    text-align: center;
    margin-bottom: 60px;
    

}

.come-in {
    margin-bottom: 20px;
}



.social-list-item-footer {
    margin-right: 10px;
}

.social-list-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #ffffff10;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: var(--accent-color);
}
}



.social-list-icon-footer {
    fill: var(--primary-white-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}








.contacts-footer {
    text-align: center;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

    &:not(:last-child) {
        margin-bottom: 9px;
    }
}



.accentlogo {
    color: var(--primary-white-color);
}

.subscribe {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;

color: #FFFFFF;
}



.button-footer {
    display: inline-flex;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    border: none;

    align-items: center;

    &:hover,
    &:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--secondary-accent-color);
    }
    
    &::after {
        background-image: url('../images/icon-send.svg');
        width: 24px;
        height: 24px;
        content: "";
        display: inline-block;
        margin-left: 10px;
        
    }
}



.img-send {
    margin-left: 10px;
}


.contact-form-input-email {
    background-color: var(--primary-bcg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-bottom: 20px;

}

.contact-form-input-email {

    height: 50px;
    padding-left: 16px;
    margin-right: 12px;
    color: var(--primary-white-color);

    &::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
    
    }
}
}



// 768px+
@media screen and (min-width: 768px) {
    .footer {
        background-color: var(--primary-bcg-color);
        padding: 60px 0;
    
    
    }

    .email-form {
        display: grid;

    }

    .logo-adress-div {
        flex-direction:column;

    
    }
    
    .footer__logo_theme_dark {
        color: var(--accent-color);
        font-family: Raleway;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-decoration: none;
    }
    
    .street-adress {
        font-style: normal;
        color: var(--primary-white-color);
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        margin-bottom: 9px;
    }
    
    .come-in {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-white-color)
    }
    
    .foot-container {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
    
    }
    
    .logo-adress-div {
        flex-direction:column;
        margin-bottom: 60px;
    

    
    }
    
    
    .come-links {
        display: flex;
        flex-direction:column;
    
    }
    
    .come-in {
        margin-bottom: 20px;
        text-align: center;
    }
    
    .logo-footer {
        text-align: center;
    }
    
    
    .social-list-item-footer {
        margin-right: 10px;
    }
    
    .social-list-link-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background-color: #ffffff10;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        background-color: var(--accent-color);
    }
    }
    
    
    
    .social-list-icon-footer {
        fill: var(--primary-white-color);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    
    
    
    
    
    
    
    .contacts-footer {
        text-align: center;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
    
        &:not(:last-child) {
            margin-bottom: 9px;
        }
    }
    
    
    
    .accentlogo {
        color: var(--primary-white-color);
    }
    
    .subscribe {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 20px;
    
    color: #FFFFFF;
    }
    
    
    
    .button-footer {
        margin-left: 125px;
        width: 200px;
        display: inline-flex;
    
        color: var(--primary-white-color);
        background-color: var(--accent-color);
        font-weight: bold;
        font-size: 16px;
        line-height: 1.87;
        text-align: center;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 10px 32px;
        min-width: 200px;
        border: none;
    
        align-items: center;
    
        &:hover,
        &:focus {
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: var(--secondary-accent-color);
        }
        
        &::after {
            background-image: url('../images/icon-send.svg');
            width: 24px;
            height: 24px;
            content: "";
            display: inline-block;
            margin-left: 10px;
            
        }
    }
    
    .foot-container {
        flex-wrap: wrap;
        display: flex;
        align-items: baseline;
    
    }
    
    .img-send {
        margin-left: 10px;
    }
    
    
    .contact-form-input-email {
        margin-bottom: 20px;
        width: 450px;
        background-color: var(--primary-bcg-color);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
    
    }
    
    .contact-form-input-email {

        padding-left: 16px;
        margin-right: 12px;
        color: var(--primary-white-color);
    
        &::placeholder {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
        
            color: rgba(255, 255, 255, 0.6);
        
        }
    }

}

// 1200px+
@media screen and (min-width: 1200px) {
.footer {
    background-color: var(--primary-bcg-color);
    padding: 60px 0;


}

.email-form {
    display: block;
    margin: 0;
}

.footer__logo_theme_dark {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.street-adress {
    font-style: normal;
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
}

.come-in {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color)
}

.foot-container {
    display: flex;
    align-items: baseline;

}

.logo-adress-div {
    flex-direction:column;
    margin-right: 70px;
    margin: 0;

}


.come-links {
    display: flex;
    flex-direction:column;
    margin-right: 93px;
    margin-left: 70px;

}

.come-in {
    margin-bottom: 20px;
    text-align: start;
}

.subscribe {
    text-align: start;
}

.social-list-item-footer {
    margin-right: 10px;
}


.adress-name:not(:last-child) {
    margin-bottom: 8px;
}


}

.social-list-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #ffffff10;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: var(--accent-color);
}
}



.social-list-icon-footer {
    fill: var(--primary-white-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}








.contacts-footer {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

    &:not(:last-child) {
        margin-bottom: 9px;
    }
}



.accentlogo {
    color: var(--primary-white-color);
}

.subscribe {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;

color: #FFFFFF;
}



.button-footer {
    margin: 0;
    display: inline-flex;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    border: none;

    align-items: center;

    &:hover,
    &:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--secondary-accent-color);
    }
    
    &::after {
        background-image: url('../images/icon-send.svg');
        width: 24px;
        height: 24px;
        content: "";
        display: inline-block;
        margin-left: 10px;
        
    }
}



.img-send {
    margin-left: 10px;
}


.contact-form-input-email {
    background-color: var(--primary-bcg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

}

.contact-form-input-email {

    width: 358px;
    height: 50px;
    padding-left: 16px;
    margin-right: 12px;
    color: var(--primary-white-color);

    &::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
    
    }
}


@media screen and (min-width: 480px) {
    .adress-name {
        text-align: center;
    }
    .adress-name:not(:last-child) {
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 768px) {
    .email-form {
        justify-items: center;
    }

    .adress-name {
        text-align: center;
    }
    .adress-name:not(:last-child) {
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 1200px) {
    .adress-name {
        text-align: start;
    }
    .adress-name:not(:last-child) {
        margin-bottom: 9px;
    }

    .logo-footer {
        text-align: start;
    }
}


// .footer {
//     background-color: var(--primary-bcg-color);
//     padding: 60px 0;


// }

// .footer__logo_theme_dark {
//     color: var(--accent-color);
//     font-family: Raleway;
//     font-weight: bold;
//     font-size: 26px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//     text-decoration: none;
// }

// .street-adress {
//     font-style: normal;
//     color: var(--primary-white-color);
//     font-size: 14px;
//     line-height: 1.7;
//     letter-spacing: 0.03em;
//     margin-bottom: 9px;
// }

// .come-in {
//     font-family: Roboto;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 14px;
//     line-height: 16px;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: var(--primary-white-color)
// }

// .foot-container {
//     display: flex;
//     align-items: baseline;

// }

// .logo-adress-div {
//     flex-direction:column;
//     margin-right: 70px;

// }


// .come-links {
//     display: flex;
//     flex-direction:column;
//     margin-right: 93px;

// }

// .come-in {
//     margin-bottom: 20px;
// }



// .social-list-item-footer {
//     margin-right: 10px;
// }

// .social-list-link-footer {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 44px;
//     height: 44px;
//     background-color: #ffffff10;
//     border-radius: 50%;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     background-color: var(--accent-color);
// }
// }



// .social-list-icon-footer {
//     fill: var(--primary-white-color);
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }








// .contacts-footer {
//     font-size: 14px;
//     line-height: 1.7;
//     letter-spacing: 0.03em;

//     color: rgba(255, 255, 255, 0.6);

//     &:not(:last-child) {
//         margin-bottom: 9px;
//     }
// }



// .accentlogo {
//     color: var(--primary-white-color);
// }

// .subscribe {
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 16px;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     margin-bottom: 20px;

// color: #FFFFFF;
// }



// .button-footer {
//     display: inline-flex;

//     color: var(--primary-white-color);
//     background-color: var(--accent-color);
//     font-weight: bold;
//     font-size: 16px;
//     line-height: 1.87;
//     text-align: center;
//     cursor: pointer;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//     padding: 10px 32px;
//     min-width: 200px;
//     border: none;

//     align-items: center;

//     &:hover,
//     &:focus {
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     background-color: var(--secondary-accent-color);
//     }
    
//     &::after {
//         background-image: url('../images/icon-send.svg');
//         width: 24px;
//         height: 24px;
//         content: "";
//         display: inline-block;
//         margin-left: 10px;
        
//     }
// }



// .img-send {
//     margin-left: 10px;
// }


// .contact-form-input-email {
//     background-color: var(--primary-bcg-color);
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     box-sizing: border-box;
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;

// }

// .contact-form-input-email {
//     width: 358px;
//     height: 50px;
//     padding-left: 16px;
//     margin-right: 12px;
//     color: var(--primary-white-color);

//     &::placeholder {
//         font-family: 'Roboto';
//         font-style: normal;
//         font-weight: 400;
//         font-size: 16px;
//         line-height: 20px;
    
//         display: flex;
//         align-items: center;
//         letter-spacing: 0.03em;
    
//         color: rgba(255, 255, 255, 0.6);
    
//     }
// }

