.button-list {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    display: flex;
    margin-bottom: 34px;
    justify-content: center;
}

.buttons {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    
    cursor: pointer;
    border: none;
    padding: 6px 22px;
    border-radius: 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: var(--secondary-accent-color);
    color: var(--primary-white-color);
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}



.galerry-list {
    display: flex;
    flex-wrap: wrap;
}




.flex-elements{
    display: block;
    width: 370px;

    &:hover {
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
    }

}





.name-pic {
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.names-pic {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid var(--primary-border-color);
    border-left: 1px solid var(--primary-border-color);
    border-right: 1px solid var(--primary-border-color);


}





.gallery {
    margin-bottom: 30px;

    &:not(:nth-child(3n)) {
        margin-right: 30px;
    }
    
    &:nth-last-child(-n +3) {
        margin-bottom: 0;
    }
}

.overlay {
    position: absolute;
    padding: 63px 24px;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    height: 294px;
    width: 100%;

    overflow: hidden;


    background: rgba(33, 150, 243, 0.9);

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    letter-spacing: 0.03em;

    color: #FFFFFF;

    transform: translateY(100%);
    transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .links:hover &,
    .links:focus & {
    transform: translateY(0%);
}
}




.links-img {
    position: relative;
    overflow: hidden;
}

.kind-bussines {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.links {
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.btn {
    border: none;
    &:not(:last-child) {
        margin-right: 8px;
    }
}





