.hero {
    text-align: center;
    background-color: var(--primary-bcg-color);
    padding: 118px 0;

    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), 
        url("../images/image\ hero.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #C4C4C4;
    

}



@media screen and (max-width: 479px){
    .hero {
        text-align: center;
        background-color: var(--primary-bcg-color);
        padding: 118px 0;
        margin-bottom: 60px;
    
        max-width: 468px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(
            to right, 
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ), 
            url("/images/mobile/Header-img-mobile.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: #C4C4C4;
        
    
        }
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
    background-image: url('/images/mobile/Header-img-mobile@2x.jpg');
}
}



@media screen and (min-width: 480px) {
    .hero {
        text-align: center;
        background-color: var(--primary-bcg-color);
        padding: 118px 0;
        margin-bottom: 60px;
    
        max-width: 468px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(
            to right, 
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ), 
            url("/images/mobile/Header-img-mobile.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: #C4C4C4;
        
    
    }
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url('/images/mobile/Header-img-mobile@2x.jpg');
  }
}
    
}


@media screen and (min-width: 768px) {
    .hero {
        text-align: center;
        background-color: var(--primary-bcg-color);
        padding: 118px 0;
    
        max-width: 768px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(
            to right, 
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ), 
            url("/images/tablet/Header-img-tablet.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: #C4C4C4;
        
    
    }
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url('/images/tablet/Header-img-tablet@2x.jpg');
  }
}

}

@media screen and (min-width: 1200px) {
    .hero {
        text-align: center;
        background-color: var(--primary-bcg-color);
        padding: 200px 0;
    
        max-width: 1200px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(
            to right, 
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ), 
            url("/images/deckstop/Img-deckstop-hero.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: #C4C4C4;
        
    
    }
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url('/images/deckstop/Img-deckstop-hero@2x.jpg');
  }
}

}
