.header__logo_theme_light {
    color: var(--primary-text-color);

    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-img {
    color: var(--accent-color);
    text-decoration: none;
}

