h1,h2,h3,h4,h5,h6,p,ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.adresses {
    display: flex;
    flex-direction: column;
    font-style: normal;
    margin-top: 20px;

}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    text-decoration: none;

    .site-nav &:hover, 
    .site-nav &:focus {
    color: var(--accent-color)
}
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}