:root {
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --primary-bcg-color: #2F303A;
    --accent-color: #2196F3;
    --secondary-accent-color: #188CE8;
    --secondary-bcg-color: #F5F4FA;
    --primary-border-color: #EEEEEE;
    --primary-icon-color: #AFB1B8;
}